.App {
  
}
#app-container{
  text-align: center;
  height: 100vh;
  color: black;
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
#app-container.active{
 user-select: none;
 pointer-events: none;
 opacity: 0.10;
}
template{
  display: block;
}

.create-projects{
  position: absolute;
  z-index: 1;
  background-color: #fff;
  top:15%;
  left: 25%;
  border-radius: 5px;
}
.btns{
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-top: 20px;
}
.btns button{
  cursor: pointer;
  padding: 10px 24px;
  border-radius: 32px;
  margin: 0 auto;
}
.btns button:first-child{
  border: none;
  background-color: crimson;
  color:#fff;
}
.btns button:last-child{
  border: 0.5px solid crimson;
  color:crimson;
}

