.App {
  text-align: center;
  height: 100vh;
  color: black;
}

template{
  display: block;
}


.btns{
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-top: 20px;
}
.btns button{
  cursor: pointer;
  padding: 10px 24px;
  border-radius: 32px;
  margin: 0 auto;
}
.btns button:first-child{
  border: none;
  background-color: crimson;
  color:#fff;
}
.btns button:last-child{
  border: 0.5px solid crimson;
  color:crimson;
}

