/* FORM */
form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 20px;
    width:50vw;
    padding: 10px 16px;
  }
  .btn button{
    cursor: pointer;
  }
 .create input{
    width: 300px;
    padding: 10px;
    margin: 0 auto;
    background-color:crimson;
    color: #fff;
    border: none;
  }
  select{
    width: 320px;
    padding: 10px;
    margin: 0 auto;
    outline:none;
  }
form  label{
    display: inline-flex;
  }
  .submit{
  border: none;
  background-color:crimson;
  color:#fff;
  padding: 10px 30px;
  cursor: pointer;
  }
.submitDisabled{
    border: none;
    background-color: rgb(189, 79, 101);
    color:#fff;
    padding: 10px 30px;
    cursor: pointer;
 }
.create{
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.createTopSection{
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  border-bottom: 0.5px solid #ceced1;
}
.closeSection{
  cursor: pointer;
}
